.block-button a {
  margin: 0 auto;
}

.block-button a img {
  margin: 0 auto;
}

.block-left {
  display: block;
  margin: 0 auto 0 0!important;
}

.block-left img {
  display: block;
  margin: 0 auto 0 0!important;
}

.block-center {
  display: block;
  margin: 0 auto!important;
}

.block-center img {
  display: block;
  margin: 0 auto!important;
}

.block-right {
  display: block;
  margin: 0 0 0 auto!important;
}

.block-right img {
  display: block;
  margin: 0 0 0 auto!important;
}